name: Deploy Web
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    - name: Publish
      run: dotnet publish src/Web/Web.csproj -c Release -o release --nologo
    - name: Fix Pages
      run: |
        sed -i 's/<base href="\/" \/>/<base href="\/" \/>/g' release/wwwroot/index.html
        cp release/wwwroot/index.html release/wwwroot/404.html
        touch release/wwwroot/.nojekyll
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: release/wwwroot
